[submodule "en-us/SharedResources/StellarOne"]
	path = en-us/SharedResources/StellarOne
	url = git@adc.github.trendmicro.com:HIE-ELIXIR/StellarOne.git
[submodule "en-us/SharedResources/Legal"]
	path = en-us/SharedResources/Legal
	url = git@adc.github.trendmicro.com:HIE-ELIXIR/Legal.git
[submodule "en-us/SharedResources/StandardVariables"]
	path = en-us/SharedResources/StandardVariables
	url = git@adc.github.trendmicro.com:HIE-ELIXIR/StandardVariables.git
[submodule "en-us/SharedResources/TechnicalSupportChapter"]
	path = en-us/SharedResources/TechnicalSupportChapter
	url = git@adc.github.trendmicro.com:HIE-ELIXIR/TechnicalSupportChapter.git
[submodule "DeepDiscoveryFrontMatter"]
	path = DeepDiscoveryFrontMatter
	url = git@adc.github.trendmicro.com:HIE-ELIXIR/DeepDiscoveryFrontMatter.git
[submodule "en-us/SharedResources/DeepDiscoveryFrontMatter"]
	path = en-us/SharedResources/DeepDiscoveryFrontMatter
	url = git@adc.github.trendmicro.com:HIE-ELIXIR/DeepDiscoveryFrontMatter.git
